* {
  box-sizing: border-box;
}

body {
  background-color: #151515;
  margin: 0;
}

#container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column;
}

#container div {
  flex: 1 1 0%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 10rem;
}

header.challenge {
  justify-content: start;
  height: 3rem;
}

header h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 4rem;
  color: #EEEEEE;
}

header.challenge h1 {
  font-size: 2rem;
}

h1 .colour-fill {
  font-weight: 900;

/*  background-color: #9D8DF1

  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/

  /* Should be slow enough and doesn't use move position
     so no need to worry about prefers-reduced-motion */
  animation: fill-colour 30s ease infinite;
}

@keyframes fill-colour {
  0%   { color: #9D8DF1 }
  25%  { color: #FC7753 }
  50%  { color: #FCD757 }
  75%  { color: #B5F8FE }
  100% { color: #9D8DF1 }
}

textarea,
pre,
code,
.tabs {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

#challenge {
  display: flex;
  border: 1px #cbd5e0;
  width: 100%;
}

#resizer {
  position: absolute;
  /* Doesn't allow to select the content inside */
  user-select: none;

  cursor: ew-resize;
  top: 40vh;
  left: 50%;
  transform: translateX(-50%);
}

#input {
  width: 50%;
}

#output {
  flex: 1 1 0%;
}

#output iframe {
  width: 100%;
}

#output iframe,
.input-field {
  height: 90%;
}

.input-field {
  position: relative;
  padding: 0;
  border: none;
}

.input-field .input,
.input-field .highlighted-output {
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0.5em;
  margin: 0;
  border: none;
  font-size: 1rem;
  line-height: 1.3rem;
  white-space: pre;
  word-wrap: break-word;
  resize: none;
}


.input-field .input {
  z-index: 1;
  color: transparent;
  caret-color: white;
  background-color: transparent;
}

.input-field .highlighted-output {
  z-index: 0;
}

iframe {
  background-color: #FFFFFF;
}

.tabs {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 8px 0;
  padding: 0;
  color: #CCCCCC;
}

[data-tab-target] {
  cursor: pointer;
  margin: 0 12px;
}

#menu,
#menu div,
#menu form,
#challenge,
[data-tab-content] {
  display: none;
}

.display-content {
  display: block !important;
}

.active-tab {
  color: #FCD757;
}

fieldset {
  margin: 0;
}

#menu {
  color: #EEEEEE;
}
